
<body>
<br><br><br><br><br><br><br>
<div style="text-align:center">
  <form>
<label for="exampleFormControlInput1">User Name:</label>&nbsp;
<input type="text" class="form-control" id="exampleFormControlInput1"><br><br>
<label for="exampleFormControlInput1">Password:</label>&nbsp;

<input type="password" class="form-control" id="exampleFormControlInput1" placeholder="<type Password>"><br><br>

  <input type="submit" value="Login">&nbsp;<input type="reset" value="Reset">&nbsp;<input type="button" value="Home" onclick="window.location='/app.component.html';"/> 
</form>

        </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br></body>