<body>
<br><br><br><br><br><br>
<div style="text-align:center">
  <form name="RegForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
<label for="exampleFormControlInput1">User Name:</label>&nbsp;
<input type="text" class="form-control" id="exampleFormControlInput1"><br><br>
<label for="exampleFormControlInput1">Password:</label>&nbsp;

<input type="password" class="form-control" id="exampleFormControlInput1" placeholder="<type Password>"><br><br>

  <input type="submit" value="Validate User">&nbsp;<input type="reset" value="Reset">&nbsp;
</form>

        </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br></body>