<h2>Welcome to the Initial Child Details View Page!</h2>
<p>Please Enter the Birth Registration ID of the child to view the Relevant Details.</p>
<body>
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Birth Registration ID:</label>&nbsp;
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<New>"><br><br>
            
  
  </div><br>
  
  <input type="button" value="View Details" onclick="window.location='/view-sub-page';"/>
    </form>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </body>
